<div class="container-fluid container-margin">
    <div class="container-fluid ml-4">
        <h3>PROJECTS<span class="hlt-red hlt-size">.</span>
        </h3>
        <div class="project-container">
            <div class="project-item mr-3 mt-2" *ngFor="let proj of project">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="project-header-image"></div>
                        <mat-card-title>{{proj.name}}</mat-card-title>
                        <mat-card-subtitle>{{proj.shortName}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let li of proj.description.split('.')">{{li}}</li>
                        </ul>
                        <h6> Tech Used:</h6><span>{{proj.techUsed}}</span>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Visit</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container-fluid ml-4 container-margin">
        <h3>SKILLS<span class="hlt-red hlt-size">.</span></h3>
        <div class="project-container">
            <div class="skill-item mr-3 mt-2" *ngFor="let skill of skillSet">
                <mat-card class="skill-card">
                    <mat-card-header>
                        <img [src]="skill.photoUrl" alt="No Image" mat-card-avatar class="skill-header-image">
                        <mat-card-title>{{skill.name}}</mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container-fluid ml-4 container-margin">
        <h3>EXPERIENCE<span class="hlt-red hlt-size">.</span></h3>
        <div class="project-container">
            <div class="project-item mr-3 mt-2" *ngFor="let exp of experience">
                <mat-card class="example-card">
                    <mat-card-header>
                        <img [src]="exp.photoUrl" mat-card-avatar class="skill-header-image">
                        <mat-card-title>{{exp.name}}</mat-card-title>
                        <mat-card-subtitle>{{exp.designation}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let li of exp.description.split('.')">{{li}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="project-item experience-not-enough">
                <h5>Many more to come....</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid ml-4 container-margin">
        <h3>ACHIEVEMENTS<span class="hlt-red hlt-size">.</span></h3>
        <div class="project-container">
            <div class="project-item mr-3 mt-2" *ngFor="let achievement of achievements">
                <mat-card class="example-card">
                    <mat-card-header>
                        <img [src]="achievement.photoUrl" mat-card-avatar class="skill-header-image">
                        <mat-card-title>{{achievement.name}}</mat-card-title>
                        <mat-card-subtitle>{{achievement.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let li of achievement.description.split('.')">{{li}}</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>