<nav class="navbar-wrapper">
    <div class="navbar-container navbar-laptop">
        <div class="navbar-item ml-3" routerLink="">
            MOHIT SHAH
        </div>
        <div class="navbar-item ml-auto" routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</div>
        <div class="navbar-item" routerLink="contact" routerLinkActive="active">Contact</div>
        <a class="navbar-item" href="assets/resume.pdf" download>Resume<i class="fa fa-download ml-2"></i></a>
    </div>
    <div class="navbar-mobile navbar-container">
        <div class="navbar-brand" (click)="showMenu=!showMenu;"><i class="fa fa-bars ml-5 mr-5"></i>MOHIT SHAH</div>
        <ng-container *ngIf="showMenu">
            <div class="navbar-container navbar-list" (click)="showMenu=!showMenu;">
                <div class="navbar-item" routerLink="home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Home</div>
                <div class="navbar-item" routerLink="contact" routerLinkActive="active">Contact</div>
                <div class="navbar-item" (click)="download($event)">Resume<i class="fa fa-download ml-2"></i></div>
            </div>
        </ng-container>
    </div>
</nav>