<div class="col-xs-12 col-md-12 col-lg-12 app-body" >
    <div class="col-lg-9 col-md-9 col-xs-9 padding-center">
        <div class="row padding">
            <div class="profile_photo img-fluid">
                <img class="image img-fluid" src="../../assets/Mohit_Shah.jpg">
            </div>
        </div>
        <div class="biodata font-italic">I'm a {{display}}</div>
        <div class="text-center font-weight-bold description">
            <q>I am Mohit Shah, Computer Science Graduate from DJ Sanghvi College of Engineering. I have started working with Wissen Technology on technologies like Spring and Angular. I love real world problem solving and also keen interested in Competitive Programming. I also love learning new Algorithms and interested in Reading books and swimming.</q>
    </div>
</div>